.mapContainer {
  height: 400px;
}

.leaflet-container {
  height: 100%;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 10px;
  right: 20px;
}

.leaflet-popup-content {
  width: 18rem;
}

.leaflet-popup-tip {
  visibility: hidden;
}

.leaflet-popup-content p {
  margin: 0.4rem;
}
